.home-page-container{
    display:flex;
    background-color:rgb(242, 249, 253);
    position:relative;
    width: 95%;
    margin: auto;
    height: 100%;
    /* border-style:groove;
    border-radius:20px;
    border-color:rgb(127, 171, 236); */
    flex-direction: column;
}

.content{
    position: relative;
    align-self: center;
    background-color: #EDF4F4;
    width: 100%;
    max-height: 100%;
}

h1{
  font-size:40px;
  color:orange;
  font-weight:bold;  
  text-align:center;
}

h2{
    font-size:20px;
    color:black;
    margin-left:20px;
    text-align:center;
}

.tab-container{
    min-height: 600px;
}

@media (max-width: 650px){
    h2{
        visibility: hidden;
        width: 2px;
        height:2px;
    }

    h1{
        font-size:30px;
        color:orange;
        font-weight:bold;  
        text-align:center;
      }
    
      .home-page-container{
          width: 100%;
      }
}