<div class="home-page-container">
    <div class="header">
        <br>
        <h1>Panou de administrare</h1>
        <br>
        <h2>Acesta este panoul de administrare al site-ului. De aici puteti sa va schimbati
            datele personale sau daca sunteti administrator sa adaugati retete/stergeti utilizatori etc.</h2>
    </div>

    <div class="content">
        <mat-tab-group>
        
            <mat-tab label="Date utilizator" >
                <div class="tab-container">
                    <app-user-details></app-user-details>
                </div>
            </mat-tab>

            <mat-tab *ngIf='userRole==1' label="Lista utilizatori">
                <ng-template matTabContent>
                    <div class="tab-container">
                        <app-users-list></app-users-list>
                    </div>
                </ng-template>
            </mat-tab>
            
            <mat-tab *ngIf='userRole==1' label="Retete">
                <ng-template matTabContent>
                    <div class="tab-container">
                        <app-add-recipes></app-add-recipes>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>