button{
    height: 20px;
    width: 25px;
    line-height: 20px;
    color:orange;
}

button:hover {
    height: 20px;
    width: 25px;
    line-height: 20px;
    color:orange;
    transform: scale(1.2);
}

p {
    margin-left:5px;
}

.rating{
    display: flex;
}